.grid-container {
  background-color: var(--color-secondary);
  min-height: 100vh;
  width: 100%;
  padding: 30px 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 18px;
  color: var(--color-text);
}

.header select {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  background-color: var(--color-icon-bg);
  padding: 6px 6px;
  border: 1px solid var(--color-button-light);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.bookmark-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}