.navbar {
  height: 60px;
  border-bottom: 1px solid var(--color-border);
}

.navbar-wrapper {
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px 30px;
}

.navbar-wrapper .navbar-search {
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-radius: 8px;
  width: 30%;
  border: 1px solid var(--color-border);
}

.navbar-wrapper .navbar-search input {
  background-color: var(--color-bg);
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
}

.navbar-wrapper .navbar-search .search-icon {
  color: var(--color-text-light);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-left .mode {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.navbar-left button {
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-left button:hover {
  background-color: var(--color-primary-hover);
}

.navbar-left .profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-left .profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.theme {
  height: 30px;
  width: 30px;
  background-color: var(--color-secondary);
  color: rgb(243, 206, 0);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}