.sidebar {
  width: 280px;
  min-height: 100vh;
  background-color: var(--color-bg);
  border-right: 1px solid var(--color-border);
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  padding: 14px 16px;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.sidebar-wrapper .title h1 {
  font-size: 16px;
  font-weight: 800;
  color: var(--color-text);
}

.sidebar-wrapper .title .title-icon {
  color: var(--color-bg);
}

.sidebar-wrapper .title span {
  padding: 5px 6px;
  background-color: var(--color-primary);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-archive {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.home-archive .home,
.archive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: var(--color-text-light);
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.home .home-icon,
.archive .archive-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home-archive .home {
  font-weight: 500;
}

.active-page {
  background-color: var(--color-secondary);
}

.home-archive .home .home-icon,
.archive-icon {
  color: var(--tag-text);
}

.home .count,
.archive .count {
  background-color: var(--color-secondary);
  font-size: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags-category {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 0px 8px;
}

.tags-category h2 {
  font-size: 12px;
  color: var(--tag-text);
  margin-bottom: 10px;
}

.tags-category .tags-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tags-category .tags-list .individual-tags {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.tags-category .tags-list .individual-tags .tag-name {
  display: flex;
  gap: 8px;
}

.tags-category .tags-list .individual-tags {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-light);
}

.tags-category .tags-list .individual-tags .tags-count {
  background-color: var(--color-secondary);
  font-size: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}