.archive-container {
  background-color: var(--color-secondary);
  min-height: 100vh;
  width: 100%;
  padding: 20px 30px;
}

h2 {
  font-size: 18px;
}

.archived-bookmark-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 10px;
}