* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}